body {
  	background-image: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_960_720.jpg");
	background-repeat: no-repeat;
   	background-color: #cccccc;
	background-size: cover;
}

h1, h3 {
	color: #FFFFFF;
	text-align: center;

}

li {
	color: #FFFFFF;
	text-align: center;
	list-style-type: none;
}
